
@{
    ViewBag.Title = "Index";
}

    <link href="~/Content/datatables.css" rel="stylesheet" />
<h2>Alumno</h2>
<label>Seleccione sexo</label>
<select id="cboSexo">

  
</select>

<div id="tabla">

</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/datatables.min.js"></script>
<script src="~/Scripts/Alumno.js"></script>